<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test Site</title>
</head>
<body>

<div>
    <span th:text="test">Login Test</span>

    <th:block th:if="${session.SPRING_SECURITY_LAST_EXCEPTION == null}">
        <div class="alert alert-danger" th:if="${param.error != null}">
            Invalid username and password.
        </div>
        <div class="alert alert-danger" th:if="${param.logout != null}">
            You have been logged out.
        </div>
    </th:block>

    <form method="post">
        ID : <input type="text" name="username" />
        Password : <input type="password" name="password" />

        <div>
            <button>Login</button>
        </div>
    </form>
</div>


</body>
</html>